@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    background: url(../cadeira.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
    min-height: 100vh;
}

.container{
  margin-top: 75px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar{
  overflow: hidden;
  background-color: red;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
  height: 7vh;
  color: white;
}

.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
  text-decoration: none;
}
.notification {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  margin-left: 500px;
}
.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: 0px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
#notification{
  margin-left: 930px;
}

table{
  width: 100%;
}

tr, th, td{
  border: 1px solid transparent;
}

table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}

.clPedido{
  width: 40%;
}

.endPedido{
  width: 40%;
}

.dtPedido{
  width: 10%;
}

.vlPedido{
  width: 10%;
}

.input-group{
  margin-top: 20px;
}